<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Demystifying Email Design</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div>
    <h2>MCLab Inventory Management System</h2>
    <h4>Recupero password</h4>
    <p>Nome: {{ data['name'] }}</p>
    <p>Cognome: {{ data['cognome'] }}</p>
    <p>Mail: {{ data['email'] }}</p>
    <p>Password: {{ data['message'] }}</p>
</div>
</body>
</html>